<div class="container" *ngIf="isValid">
    <div class="title">Client Personal Information</div>
    <div class="content">
        <form #personalinfoform="ngForm" (ngSubmit)="onsubmit()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your name" [(ngModel)]="fname" name="fname" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your name" [(ngModel)]="lname" name="lname" required>
                </div>
                <div class="input-box">
                    <span class="details">Middle Name</span>
                    <input type="text" placeholder="Enter your name" [(ngModel)]="mname" name="mname" required>
                </div>
                <div class="input-box">
                    <span class="details">Birth Date</span>
                    <input type="date" placeholder="Enter your username" [(ngModel)]="bday" name="bday" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter your number" [(ngModel)]="contact_no" name="contact_no" required>
                </div>

                <div class="input-box">
                    <span class="details">Gender</span>
                    <select name="type" id="cars" [(ngModel)]="gender" required>
                      <option value="1">Male</option>
                      <option value="0">Female</option>
                    </select>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Save">
                <!-- <a href="/client-address">next</a> -->
            </div>
        </form>
    </div>

    <app-adscomponent></app-adscomponent>
</div>
<div class="container" *ngIf="!isValid">
    <h1 style="color: red;">Invalid Link</h1>
    <p>The link you've used has expired, is invalid, or deleted.</p>
    <p>Kindly inform your agent about this matter so that they can be aware and create a new link.</p>

    <app-adscomponent></app-adscomponent>
</div>