<div class="container" *ngIf="isValid">
    <h1>Terms and Conditions</h1>
    <p>Please read the following terms and conditions carefully before using this website.</p>
    <ol>
        <li>You must be at least 18 years old to use this website.</li>
        <li>You agree to use this website only for lawful purposes and in a way that does not infringe the rights of, restrict or inhibit anyone else's use of the website.</li>
        <li>We may update these terms and conditions from time to time, and your continued use of the website after any changes indicates your acceptance of the new terms.</li>
        <li>This website uses cookies to improve your experience. By using this website, you agree to our use of cookies.</li>
    </ol>
    <form>
        <label>
      <input type="checkbox" name="consent" required [(ngModel)]="isDisabled">
      I have read and agree to the terms and conditions
    </label>
        <br>
        <a [routerLink]="['/policy-client-personal-info/'+ Req_id]" *ngIf="isDisabled">Agree and Continue</a>
    </form>

    <app-adscomponent></app-adscomponent>
</div>
<div class="container" *ngIf="!isValid">
    <h1 style="color: red;">Invalid Link</h1>
    <p>The link you've used has expired, is invalid, or deleted.</p>
    <p>Kindly inform your agent about this matter so that they can be aware and create a new link.</p>

    <app-adscomponent></app-adscomponent>
</div>