<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="container" *ngIf="visible">
    <h2>Generate Request URL</h2>
    <a href="/creategenrequrl" class="requestURL btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <a href="/UserTerms" class="requestURL btn btn-success">UserTerms</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Email</th>
                <th>Date</th>
                <th>Status</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rqURL of requestURLList">
                <td>{{ rqURL.receipt_alias }}</td>
                <td>{{ rqURL.email }}</td>
                <td>{{ rqURL.created_at }}</td>
                <td *ngIf="rqURL.is_active">Active</td>
                <td *ngIf="!rqURL.is_active">Inactive</td>
                <td>
                    <button type="button" class="requestURL btn btn-success"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    <button type="button" class="requestURL btn btn-warning"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                    <button type="button" class="requestURL btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>