<div class="container">

    <h1>Client Parent Information</h1>
    <div class="content">
        <form action="#">
            <div class="title">Mother Information</div>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Middle Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Birth Date</span>
                    <input type="date" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Is your mother still alive?</span><br/>
                    <input type="checkbox" placeholder="Enter your number" required style="
                        height: 30%;
                        float: left;
                        width: 20%;
                    ">
                    <span class="details"> Check if (YES)</span>
                </div>
                <div class="input-box">
                    <span class="details">Cause of Death?</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Does your mother have an illness?</span><br/>
                    <input type="checkbox" placeholder="Enter your number" required style="
                          height: 30%;
                          float: left;
                          width: 20%;
                      ">
                    <span class="details"> Check if (YES)</span>
                </div>

                <div class="input-box">
                    <span class="details">What illness does your mother have?</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>

                <div class="input-box">
                    <span class="details">Age Diagnosis?</span>
                    <input type="number" placeholder="Enter your name" required>
                </div>
            </div>
            <div class="title">Father Information</div>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Middle Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Birth Date</span>
                    <input type="date" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Is your father still alive?</span><br/>
                    <input type="checkbox" placeholder="Enter your number" required style="
                        height: 30%;
                        float: left;
                        width: 20%;
                    ">
                    <span class="details"> Check if (YES)</span>
                </div>
                <div class="input-box">
                    <span class="details">Cause of Death?</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Does your father have an illness?</span><br/>
                    <input type="checkbox" placeholder="Enter your number" required style="
                          height: 30%;
                          float: left;
                          width: 20%;
                      ">
                    <span class="details"> Check if (YES)</span>
                </div>

                <div class="input-box">
                    <span class="details">What illness does your father have?</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>

                <div class="input-box">
                    <span class="details">Age Diagnosis?</span>
                    <input type="number" placeholder="Enter your name" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Save">
                <a href="/list-of-siblings">next</a>
            </div>
        </form>
    </div>
</div>