<div class="container">
    <div class="title">Client Current Address Information</div>
    <div class="content">
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">HOUSE NO</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">SUB NAME</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">STREET</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">BARANGAY</span>
                    <input type="text" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">MUNICIPALITY</span>
                    <input type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">CITY</span>
                    <input type="text" placeholder="Enter your number" required>
                </div>
                <div class="input-box">
                    <span class="details">PROVINCE</span>
                    <input type="text" placeholder="Enter your number" required>
                </div>
                <div class="input-box">
                    <span class="details">ZIPCODE</span>
                    <input type="text" placeholder="Enter your number" required>
                </div>
            </div>
            <div class="gender-details">
                <span class="details">Current Address is same as permanent?</span>
                <input type="checkbox" placeholder="Enter your number" required>
            </div>
            <div class="button">
                <input type="submit" value="Save">
                <a href="/client-parent-info">next</a>
            </div>
        </form>
    </div>
</div>