<div class="container">
    <div class="wrapper fadeInDown">
        <h1>
            Client Address Information
        </h1>
        <div id="formContent">
            <!-- Icon -->
            <h2><b>Current Address</b></h2>
            <form>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="houseno" class="fadeIn second" name="houseno" placeholder="HOUSE NO">
                        </div>
                        <div class="col-6">
                            <input type="text" id="subdname" class="fadeIn second" name="subdname" placeholder="Subd Name">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="street" class="fadeIn second" name="street" placeholder="Street Name">
                        </div>
                        <div class="col-6">
                            <input type="text" id="brgy" class="fadeIn second" name="brgy" placeholder="BARANGAY">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="municipality" class="fadeIn second" name="municipality" placeholder="MUNICIPALITY">
                        </div>
                        <div class="col-6">
                            <input type="text" id="city" class="fadeIn second" name="city" placeholder="CITY">
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="province" class="fadeIn second" name="province" placeholder="PROVINCE">
                        </div>
                        <div class="col-6">
                            <input type="number" id="zipcode" class="fadeIn second" name="zipcode" placeholder="Zipcode">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <label class="fadeIn second" style="
                            margin-top: 10px;
                        ">
                            <input type="checkbox" name="consent" class="fadeIn second">
                            Current and Permanent are same?
                           </label>
                        </div>
                        <div class="col-6">
                            <!-- <a href="/clientAddress" type="submit" class="btn btn-success fadeIn fourth" value="Next">Next</a> -->
                            <input type="submit" class="fadeIn fourth" value="Next">
                        </div>
                    </div>
                </div>
                <!-- <input type="submit" class="fadeIn fourth" value="Next"> -->
                <br>
            </form>

            <!-- Icon -->
            <h2><b>Permanent Address</b></h2>
            <form>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="houseno" class="fadeIn second" name="houseno" placeholder="HOUSE NO">
                        </div>
                        <div class="col-6">
                            <input type="text" id="subdname" class="fadeIn second" name="subdname" placeholder="Subd Name">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="street" class="fadeIn second" name="street" placeholder="Street Name">
                        </div>
                        <div class="col-6">
                            <input type="text" id="brgy" class="fadeIn second" name="brgy" placeholder="BARANGAY">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="municipality" class="fadeIn second" name="municipality" placeholder="MUNICIPALITY">
                        </div>
                        <div class="col-6">
                            <input type="text" id="city" class="fadeIn second" name="city" placeholder="CITY">
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" id="province" class="fadeIn second" name="province" placeholder="PROVINCE">
                        </div>
                        <div class="col-6">
                            <input type="number" id="zipcode" class="fadeIn second" name="zipcode" placeholder="Zipcode">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <!-- <a href="/clientAddress" type="submit" class="btn btn-success fadeIn fourth" value="Next">Next</a> -->
                            <input type="submit" class="fadeIn fourth" value="Next">
                        </div>
                        <div class="col-6">
                            <a href="/client-parent-info">Agree and Continue</a>
                        </div>
                    </div>
                </div>
                <!-- <input type="submit" class="fadeIn fourth" value="Next"> -->
                <br>
            </form>
        </div>
    </div>
</div>