<div class="container">
    <div class="content">
        <form #clientaddressinfoform="ngForm" (ngSubmit)="onsubmit()">
            <div class="title">Client Current Address Information</div>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">HOUSE NO</span>
                    <input type="text" placeholder="Enter your House No." [(ngModel)]="clientAddressModel.house_no" name="house_no" required>
                </div>
                <div class="input-box">
                    <span class="details">SUB NAME</span>
                    <input type="text" placeholder="Enter your Subd Name" [(ngModel)]="clientAddressModel.subd_name" name="subd_name" required>
                </div>
                <div class="input-box">
                    <span class="details">STREET</span>
                    <input type="text" placeholder="Enter your Street" [(ngModel)]="clientAddressModel.street_name" name="street_name" required>
                </div>
                <div class="input-box">
                    <span class="details">BARANGAY</span>
                    <input type="text" placeholder="Enter your Barangay" [(ngModel)]="clientAddressModel.barangay" name="barangay" required>
                </div>
                <div class="input-box">
                    <span class="details">MUNICIPALITY</span>
                    <input type="text" placeholder="Enter your Municipality" [(ngModel)]="clientAddressModel.municipality" name="municipality" required>
                </div>
                <div class="input-box">
                    <span class="details">CITY</span>
                    <input type="text" placeholder="Enter your City" [(ngModel)]="clientAddressModel.city" name="city" required>
                </div>
                <div class="input-box">
                    <span class="details">PROVINCE</span>
                    <input type="text" placeholder="Enter your Province" [(ngModel)]="clientAddressModel.province" name="province" required>
                </div>
                <div class="input-box">
                    <span class="details">ZIPCODE</span>
                    <input type="text" placeholder="Enter your Zipcode" [(ngModel)]="clientAddressModel.zipcode" name="zipcode" required>
                </div>
            </div>
            <div class="gender-details">
                <span class="details">Current Address is same as permanent?</span>
                <input type="checkbox" [(ngModel)]="clientAddressModel.is_permanent" name="lname" required>
            </div>
            <div class="title" *ngIf="!clientAddressModel.is_permanent">Client Permanent Address Information</div>
            <div class="user-details" *ngIf="!clientAddressModel.is_permanent">
                <div class="input-box">
                    <span class="details">HOUSE NO</span>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="input-box">
                    <span class="details">SUB NAME</span>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="input-box">
                    <span class="details">STREET</span>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="input-box">
                    <span class="details">BARANGAY</span>
                    <input type="text" placeholder="Enter your username">
                </div>
                <div class="input-box">
                    <span class="details">MUNICIPALITY</span>
                    <input type="text" placeholder="Enter your email">
                </div>
                <div class="input-box">
                    <span class="details">CITY</span>
                    <input type="text" placeholder="Enter your number">
                </div>
                <div class="input-box">
                    <span class="details">PROVINCE</span>
                    <input type="text" placeholder="Enter your number">
                </div>
                <div class="input-box">
                    <span class="details">ZIPCODE</span>
                    <input type="text" placeholder="Enter your number">
                </div>
            </div>
            <div class="button">
                <div class="row">
                    <div class="col-6">
                        <a href="/policy-client-personal-info/{{ Req_id }}" class="requestURL btn btn-success" style="
                        width: 100%;
                    "><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a>
                    </div>
                    <div class="col-6">
                        <input type="submit" value="Save">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>